[submodule "bios"]
	path = bios
	url = https://github.com/macmade/XEOS-boot-bios.git
[submodule "uefi"]
	path = uefi
	url = https://github.com/macmade/XEOS-boot-uefi.git
[submodule "make"]
	path = make
	url = https://github.com/macmade/XEOS-makefile.git
